/* ------------------------------------------ reset */

@import "./base/_reset.scss";

/* ------------------------------------------ utilities and typo */

@import "./utilities/_variables.scss";
@import "./base/_typo.scss";

/* ------------------------------------------ header*/

@import "./layout/_header.scss";

/* ------------------------------------------ main*/

main{
    width: 100%;
    min-width: 320px; 
    height: auto;
    background-color: $off-white;
} 

/* ------------------------------------------ main - seccion intercambios*/

@import "./layout/_seccion-intercambio.scss";

/* ------------------------------------------ main - seccion beneficios*/

@import "./layout/seccion-beneficios.scss";
