/* ------------------------------------------ reset */

@import "./base/_reset.scss";

/* ------------------------------------------ utilities and typo */

@import "./utilities/_variables.scss";
@import "./utilities/media_queries_mixin.scss";
@import "./base/_typo.scss";

/* ------------------------------------------ scroll mejorado */

html {
	scroll-behavior: smooth;
}

/* ------------------------------------------ header*/

@import "./layout/_header.scss";

/* ------------------------------------------ main*/

main{
    width: 100%;
    min-width: 320px; 
    height: auto;
    background-color: $off-white;
} 

/* ------------------------------------------ main - seccion intercambios*/

@import "./layout/_seccion-intercambio.scss";

/* ------------------------------------------ main - seccion beneficios*/

@import "./layout/_seccion-beneficios.scss";

/* ------------------------------------------ main - seccion planes*/

@import "./layout/_seccion-planes.scss";

/* ------------------------------------------ footer*/

@import "./layout/footer.scss";

