//- ---------------content---------------

-var h1_text = "La próxima revolución en el intercambio de criptomonedas." 
-var header_p = "Batabit te ayuda a navegar entre los diferentes precios y tendencias."
-var header_button = "Conoce Nuestros Planes"