//- ---------------content---------------

//- header
-var h1_text = "La próxima revolución en el intercambio de criptomonedas." 
-var header_p = "Batabit te ayuda a navegar entre los diferentes precios y tendencias."
-var header_button = "Conoce Nuestros Planes"

//- -------------------------main

//- -----------seccion intercambio
-var intercambio_h2 = "Visibilizamos todas las tasas de cambio."
-var intercambio_p = "Traemos información en tiempo real de las casas de cambio y las monedas más importantes del mundo."
//- posicion 0 = nombre de la moneda
//- posicion 1 = precio
//- posicion 2 = url del icono
-var intercambio_tabla = [["Bitcoin","$ 1.96","./assets/icons/trending-down.svg"],["Ethereum","$ 0.07","./assets/icons/trending-up.svg"],["Ripple","$ 2.15","./assets/icons/trending-down.svg"],["Stellar","$ 4.96","./assets/icons/trending-down.svg"]]

//- -----------seccion beneficios

-var beneficios_h2 = "Creamos un producto sin comparación."
-var beneficios_p = "Confiable y diseñado para su uso diario."

//-cards

-var card_1_title = "Tiempo real"
-var card_1_text = "Nuestro API toma información minuto a minuto sobre las tasas que más determinan el comportamiento."

-var card_2_title = "No hay tasas escondidas"
-var card_2_text = "Ni en la compra o al momento de exit, Batabit siempre te muestra el costo real de lo que estás adquiriendo."

-var card_3_title = "Compara monedas"
-var card_3_text = "No más rumores, con Babtabit sabrás el valor real de cada moneda en el mercado actual."

-var card_4_title = "Información confiable"
-var card_4_text = "Nuestras fuentes están 100% verificadas y continuamos auditando su contenido mientras se actualizan."