mixin card-icon-title-text(padre,container_class,title,text)
    article(class= padre + container_class)
        span(class= padre + container_class + "-icon")
        p(class= padre + container_class + "-title")= title
        p(class= padre + container_class + "-text")= text