footer.footer
    section.footer__left-section
        ul
            li
                a(href="#") Linkedin
            li
                a(href="#") Crunchbase
            li
                a(href="#") Hackernews
    section.footer__right-section
        img(src="../assets/images/isotipo-copyright.svg", alt="Logo de Batatabit 2020")