section.main-product-detail
    span
    div
        h2= beneficios_h2
        p= beneficios_p
    section.product-card-container
        +card-icon-title-text("product-card-container","__card",card_1_title,card_1_text)
        +card-icon-title-text("product-card-container","__card",card_2_title,card_2_text)
        +card-icon-title-text("product-card-container","__card",card_3_title,card_3_text)
        +card-icon-title-text("product-card-container","__card",card_4_title,card_4_text)

