section(class="plans" id="plans")
    +image_and_title("plans","-img-container","h2",plans_title_1)
    div
        h2= plans_title_2
        p=  plans_text
    section.plans-slider
        +selling_card("plans-slider","card",plans_card_optional_text_1,plans_card_title_1,plans_card_price_1,plans_card_description_1,plans_card_button)
        +selling_card("plans-slider","card",plans_card_optional_text_2,plans_card_title_2,plans_card_price_2,plans_card_description_2,plans_card_button)
        +selling_card("plans-slider","card",plans_card_optional_text_3,plans_card_title_3,plans_card_price_3,plans_card_description_3,plans_card_button)
        