include ../utilities/_variables.pug

<!DOCTYPE html>
html(lang="en")
    include ../components/_head.pug
    body
        include ../layout/_header.pug
        block main
        include ../layout/_footer.pug