extends ./templates/_template.pug
include ./components/_card-icon-title-text.pug
include ./components/_image_and_title.pug
include ./components/_selling-card-title-price-description-button.pug

block main
    main.main
        include ./layout/_seccion-intercambio.pug
        include ./layout/_seccion-beneficios.pug
        include ./layout/_seccion-planes.pug