html{
    font-family: 'DM Sans', sans-serif;
}
.main-table-container__table{
    font-family: 'Inter', sans-serif;
}
.main-table-container > p{
    font-family: 'Inter', sans-serif;
}
.plans-slider__card-button{
    font-family: 'DM Sans', sans-serif;
}
//-font-family: 'Inter', sans-serif;